.header {
    background: #0f172a;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    user-select: none;
}

.headerText {
    font-size: 4rem;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -0.3ch;
    font-weight: 600;
    text-align: center;
    text-shadow: 0.01em 0.01em 0 rgb(0, 255, 213),
        0.03em 0.03em 0 rgb(154, 192, 18),
        0.05em 0.05em 0 rgb(226, 143, 87),
        0.09em 0.09em 0 rgb(161, 24, 127);
}

.navItems {
    display: flex;
    flex-direction: column;
    /*justify-content:space-around;*/
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
    gap: 10px;
    margin-top: 10px;
}

.icons {
    transition-duration: 300ms;
    cursor: pointer;
}

.icons:hover {
    color: aqua;
    transform: scale(1.1);
    text-shadow: 0.03em 0.03em 0 white;
}

.anchor {
    text-decoration: inherit;
    outline: none;
    color: unset;
}

@media (min-width: 640px) {
    .header {
        flex-direction: column;
    }

    .headerText {
        writing-mode: unset;
        text-orientation: unset;
        letter-spacing: 0.1ch;
        font-size: 6rem;
    }

    .navItems {
        flex-direction: row;
        font-size: 5rem;
        gap: 40px;
    }

}